html {
	scroll-behavior: smooth;
}

* {
	padding: 0px;
	margin: auto 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: white;
	margin-top: auto;
}



/* nav section */

.nav-bar {
	display: flex;
	font-size: 0.6rem;
	list-style: none;
	background-color: black;
	height: 6vh;
	width: 100%;
	position:relative;
	justify-content: center;
	z-index: 5;
}

.nav-bar-shopping {
	display: flex;
	font-size: 0.7rem;
	list-style: none;
	background-color: #BF2C37;
	height: 8vh;
	width: 100%;
	justify-content: space-between;
	position:sticky;
	top:0;
	z-index: 5;	
}

#logo-shopping {
	height: 40px;
	margin-left: 20px;
}

.nav-bar-loja-menu {
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-loja-menu > a {
    margin: 0 3rem;
    text-transform: uppercase;    
}

.login {
	margin-right: 16px;
}

.login > * {
	padding: 0.3vh;
	height: 1vh;
}

.login :first-child {
	margin-right: 1rem;
}

.login > a {
	border-radius: 10%;
}

#logo-nav {
	margin-left: 2rem;
	background-color: white;
}
/* fim navbar */


/* nav-filtros */
.nav-filtros {
	display: inline-block;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 14rem;
	background-color: rgba(245,245,245, 1);
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	border-right: solid 1px rgba(0, 0, 0, 0.014);
}

.container-input {
	width: 100%;
	height: 1rem;
	margin: 5vh 0rem;
	padding: 0.8rem;
}

.nav-filtros-conteudo {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	position: relative;
}

#nav-filtros-logo-loja {
	
	height: 7rem;
	width: auto;
	position: absolute;
	top: 20vh;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 1.5rem;

}

input[type="text"] {
    box-sizing: border-box;
    padding-left: 0.5rem;
	width: 100%;
}

input:focus {
	outline: none;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	opacity: 1; /* Firefox */
	font-size: 0.7rem;
	
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 0.7rem;
	padding: 0.5rem;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 0.7rem;
	padding: 0.5rem;
  }

.campo-busca{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
 #campo-de-busca-botao {
	background: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	position: absolute;
	top: auto;
	right: 0;
	height: 90%;
	width: 3rem;
	background-color: rgba(255, 255, 255, 0);
}

#campo-de-busca-botao:focus {
	background-color: white;
	color: black;
	border: none;
}

#campo-de-busca-botao:hover{
	background-color: rgba(100, 148, 237, 0.479);
	border:none;
	height: 95%;
}

.campo-busca-input {
	width: 90%;
	height: 1.6rem;
	font-size: 0.1rem;
	position: relative;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}



#campo-busca-input-text {
	width: 100%;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	align-self: center;
	height: 100%;
	position: relative;
	margin: 0;
	position: absolute;
	
}

.lista-toggle-filtro {
	margin-top: 2rem;
	width: 100%;
}

.filtro-toggle{
	width: 100%;
	height: 2rem;
	background-color: rgba(41, 44, 65, 0.884);
	cursor: pointer;
	border-radius: 4px;
	text-align: left;
	-webkit-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
	font-weight: 700;
	font-size: 1rem;
	padding: 1rem ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	margin: 0.2rem 0rem;
	
}

.filtro-toggle > *{
	position: relative;
	bottom: 0.6rem;
	display: inline-block;

	
}

/* fim-filtros */

/* conteudo-loja */

.conteudo-loja {
	margin-left: 14rem;
}

/* secao banner */
.secao-banner {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 300px;
	margin: 1rem 0rem;
}

#banner {
	background-color: rgba(0, 0, 0, 0.185);
	width: 1000px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./Imagens/Destaques.jpg);
}

/* fim-secao-banner */


/* Cards individuais */

.lista-produtos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.card-produto {
	border: 1px solid #C4C4C4;
	align-items: center;
	width: 12rem;
	border-radius: 4px;
	text-align: center;
	height: 18rem;
	transition: all 0.4s ease-in-out;
	margin: 1vw;
	cursor: pointer;
	-webkit-box-shadow:0px 2px 2px #c4c4c4cc;
	-moz-box-shadow:0px 2px 2px #c4c4c4cc;
	box-shadow:0px 2px 2px #0f0808cc;
	position: relative;
}

.card-produto:hover {
	transform: scale(1.02);
	
}

@media (max-width: 750px) {
	.card-produto {
		transform: scale(0.8);
		margin: 0.1vw;
	}

	.card-produto:hover {
		transform: scale(0.9);
	}
}

@media (max-width: 550px) {
	.card-produto {
		transform: scale(0.7);
		margin: 0.1vw;
	}

	.card-produto:hover {
		transform: scale(0.8);
	}
}

.card-produto > * {
	display: inline-block;
}

.card-produto-descricao{
    width: 90%;
}

.card-produto-descricao > * {
    line-height: 1.5rem;
    text-align: left;
    padding: 0px;
}

.card-produto-nome-produto {
    display: block;
	font-size: 1rem;
    padding-bottom: 0px;
}

.card-produto-nome-loja {
	font-size: 0.66rem;
    text-align: left;
    padding-top: 0px;
}


.img-lista-produto {
	height: 180px;
	border-radius: 2px;
	width: 180px;
	margin-top: 4px;
	object-fit: cover;
	background: url(./Imagens/Card1.jpg);
	background-size: 180px 180px;
}

.img-lista-produto:hover {
	background: url(./Imagens/Card2.jpg);
	background-size: 180px 180px;
}



.card-produto-preco {
	font-weight: 700;
	position: absolute;
	bottom: 4px;
	right: 4px;
}

.card-wishlist-vazio {
	position: absolute;
	height: 1.8rem;
	width: 1.8rem;
	top: 5px;
	right: 7px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: url(./Imagens/heart-regular.svg);
	background-color: rgba(255, 255, 255, 0.712);
	border-radius: 100%;
}

.card-wishlist-solido {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	top: 5px;
	right: 7px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: url(./Imagens/heart-solid.svg);
}



	



#panel-genero {
	background-color: red;
}