* {
    padding: 0px;
    margin: auto 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    margin-top: auto;
}

.nav-bar {
    display: flex;
    font-size: 0.9rem;
    list-style: none;
    background-color: black;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
}

.login {
    margin-right: 16px; 
}

.login > * {
    padding: 0.5vh;
    height: 3vh; 
}

.login :first-child {
    margin-right: 1rem;
}

.login > a {
    border-radius: 10%; 
}

#logo {
    margin-left: 2rem;
    background-color: white;
}



.conteudo {
    width: 80%;
    margin: auto;
}

/* part-2 */
.cta {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url(./Imagens/background-image.jpg) no-repeat center center/cover ;
    display: flex;
}

.cta::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 60px 70px 250px #000000, inset -60px -10px 50px #000000;
}

.cta-content {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
    margin: auto;
}

.cta-content h1 {
    font-weight: 300;
    font-size: 4em;
    line-height: 112px;
    /* identical to box height, or 187% */
    letter-spacing: -1.5px;
    }

.cta-content p {
    margin-top: 1em;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    letter-spacing: 0.28px;
}

.cta-content-search {
    margin-top: 2rem;
}

.btn-medium {
    border: 2px solid rgba(25, 25, 25, 0.6);
    border-radius: 4px;
    background: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.2rem;
    cursor: pointer;
    outline: none;
    margin-left: 0.5rem;
}

.btn-medium:hover {
    background: rgb(148, 148, 148);
}

.search-field {
    width: 17rem;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

::placeholder {
    font-size: 0.6rem;
    padding-left: 3px;
}





/* secao lista de shoppings */

.secao-lista-shoppings {
    
}

.titulo-secao {
    margin-top: 3rem;
    font-size: 2rem;
    margin-left: 0rem;    
}

.lista-cards{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

/* Cards individuais */

.card-shopping {
    border: 1px solid #C4C4C4;
    align-items: center;
    width: 10.3rem;
    border-radius: 4px;
    text-align: center;
    height: 13rem;
    transition: all .4s ease-in-out;
    margin: 1rem;
    cursor: pointer;
}

.card-shopping:hover {
    transform: scale(1.2);
}

.card-shopping > * {
    display: inline-block;
    align-items: center;
}

.card-shopping p {
    font-size: 0.9rem;
    line-height: 2rem;
    
}

.img-lista-shoppings {
    height: 9rem;
    border-radius: 2px;
    width: 10rem;
    margin-top: 2px;
}

.story-lista-shoppings {
    border-radius: 100%;
    height: 3rem;
}

.linha-entre-secoes {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;

}

/* explica e-shop */

.explica-e-shop {
    height: 300px;
}


.explica-e-shop-conteudo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
}

.explica-e-shop-bloco-1 {
    align-self: stretch;
    
}

.explica-e-shop-bloco-1 p {
    margin: 4rem 0rem;
    font-size: 1rem;
}

.explica-e-shop-bloco-2 {
    margin: auto;
}

#video {
    background-color: black;
    height: 15rem;
    width: 100%;
}