html {
	scroll-behavior: smooth;
}

* {
	padding: 0px;
	margin: auto 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: white;
	margin-top: auto;
}

body{
	position: relative;
}

:root {
	--shop: 1100px;

  }


/* nav section */

.nav-bar {
	display: flex;
	font-size: 0.6rem;
	list-style: none;
	background-color: black;
	height: 6vh;
	width: 100%;
	position:relative;
	justify-content: center;
	z-index: 5;
}

.nav-bar-shopping {
	display: flex;
	font-size: 0.7rem;
	list-style: none;
	background-color: #BF2C37;
	height: 8vh;
	width: 100%;
	justify-content: space-between;
	position:sticky;
	top:0;
	z-index: 5;	
}

#logo-shopping {
	height: 40px;
	margin-left: 20px;
}

.nav-bar-loja-menu {
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-loja-menu > a {
    margin: 0 3rem;
    text-transform: uppercase;    
}

.login {
	margin-right: 16px;
	font-size: 0.8rem;
}

.login > * {
	padding: 0.3vh;
	height: 1vh;
}

.login :first-child {
	margin-right: 1rem;
}

.login > a {
	border-radius: 10%;
}

#logo-nav {
	margin-left: 0rem;
	background-color: white;
}
/* fim navbar */

.lista-shoppings {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px;
	justify-content: center;
	align-items: center;
	justify-items: center;

	

}

.individual-shop{
	height: 120px;
	display: flex;

}

.titulo-pagina-centralilzado{
	display: flex;
	justify-content: center;
	margin: 30px 0px;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
}

.img-lista-shoppings{
	height: 70px;
}

.individual-shop{
	background-color: white;
	display: flex;
	width: var(--shop);
	margin: 5px;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	align-content: center;
	border-radius: 5px;
	border: solid silver 2px;
	height: 80px;
}

.individual-shop >*{
	margin: 10px 20px;
}


.seta {
	height: 15px;
}

#logo-colinas{
	height: 150px;
	margin: 0px 10px;
}

.vale-sul {
	background-color: #BF2B37;
}

.shop-colinas{
	background-color: #4E2E91;
}





.card-grid-nome-produto{
	font-size: 17px;
	margin-top: 0px;
	max-width: 250px;
	margin: 0;
	
}

.card-info{
	margin-right: 10px;
}

.card-grid-precos{
	width: 20px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	justify-items: end;
	margin-top: 5px;
}

.card-grid-preco-antigo{
	opacity: 0.2;
	text-decoration: line-through;
	font-size: 15px;
	font-weight: 800;
	align-self: center;
}

.card-grid-preco-atual{
	color: #000f3a;
	font-size: 20px;
	font-weight: 700;
	align-self: center;
}

.card-grid-preco-parcela{
	grid-column: 1 / 3;
	font-size: 13px;
	margin-top: 5px;
}

.produto-grid-img {
	height: 350px;
	border-radius: 5px;
}

.select-produto-titulo {
    font-size: 0.78rem;
    margin-top: 10px;
    font-weight: 500;
	color: black;
}

.select-produto {
    height: 30px;
    width: 30px;
    background-color: rgba(128, 128, 128, 0.445);
    margin: 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 5, 65);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.wish-detalhes-tamanho-lista {
    display: flex;
}

.wish-detalhes-descricao {
    margin-top: 20px;
}

#lista-ui {
    position: relative;
    top:8px;
    margin-right:5px;
    font-size: 23px;
}

.linha-separadora{
	height: 2px;
	background-color: silver
}

.loja-toggle{
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 150px;
	align-content: center;
	justify-items: center;
	justify-content: center;
	width: var(--shop);
	margin-top: 5px;
	margin-bottom: 10px;
}

.loja-toggle > * {
	display: flex;
	width: 100%;
	height: 150px;
	align-content: center;
	justify-content: center;
	align-content: center;
}

.container-logo-loja{
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-content: center;
}

.loja-toggle-logo {
	height: 150px;
	width: auto;
}

.secao-toggle{
	height: 150px;
	margin-bottom: 10px;
}

.toggle-card{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 150px;
	grid-gap: 10px;
	align-content: center;
	justify-content: center;
	align-content: center;
	height: 100%;
	transition: all 0.4s ease-in-out;
}

.toggle-card:hover{
	transform: scale(1.05);
}


.categorias-botao-rolagem{
	display: absolute;
	background-color: white;
	border: none;
	font-size: 60px;
}

.loja-toggle-lista{
	display:grid;
	grid-template-rows: 150px;
	grid-template-columns: 0.25fr auto auto 0.25fr ;
	grid-column-start: auto;
	grid-column-end: auto;
	grid-gap: 20px;
}

.produto-grid-img{
	height: 100%;
	width: auto;
}

.total-loja{
	background-color:  rgb(118,113,113);
	color:white;
	border-radius: 20px;
	justify-items: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

.total-loja:hover{
	transform: scale(1.05);
}

.add-sacola{
	display: grid;
	grid-template-columns: 80% 20%;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	margin-top: 5vh;
}

.add-sacola-button{
	background-color: rgb(118,113,113);
	color: white;
	font-weight: 500;
	border-radius: 4px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.2s ease-in-out;
}
.add-sacola-button:hover{
	background-color: #BF2B37;
}


#wish-list-close{
	color: black;
	border-radius: 4px;
	padding: 0.8px;
}