.marcas--card {
  border-radius: 4%;
  height: 14.08rem;
  width: 11.33rem;
  background-color: white;
  border: 2px solid #c4c4c4;
  align-items: center;
  justify-items: center;
  filter: none;
  -webkit-filter: none;
  display: flex;
  justify-content: center;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.marcas--card:hover {
  transform: scale(1);
}

.img-card-marca {
  height: auto;
  width: 98%;
}

.marcas--container-card {
  display: inline-block;
  height: 14rem;
  width: 12rem;
}
