#link-card-shopping {
  color: black;
}

#nav-bar-inicial {
  display: flex;
  font-size: 0.9rem;
  list-style: none;
  background-color: black;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0px 20px;
}

.icone {
  margin: 8px;
}

.login {
  margin-right: 16px;
  font-size: 0.8rem;
}

.login > * {
  padding: 0.3vh;
  height: 1vh;
}

.login :first-child {
  margin-right: 0.3rem;
}

.login > a {
  border-radius: 10%;
}

#logo-nav {
  margin-left: 2rem;
}
