#link-card-shopping {
  color: black;
}

#nav-bar-inicial {
  display: flex;
  font-size: 0.9rem;
  list-style: none;
  background-color: black;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0px 20px;
}

.icone {
  margin: 8px;
}

.login-nav-master {
  margin-right: 1rem;
  font-size: 0.8rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-nav-master > * {
  padding: 0.3vh;
  height: 1vh;
}

.login-nav-master :first-child {
  margin-right: 0.3rem;
}

.login-nav-master > a {
  border-radius: 10%;
}

#logo-nav {
  margin-left: 2rem;
}

.loggedin {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 8px;
}

.login2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  position: relative;
  bottom: 7px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
