.nav-bar {
  display: flex;
  font-size: 0.9rem;
  list-style: none;
  background-color: black;
  height: 7vh;
  width: 100%;
  justify-content: center;
}

#logo-nav {
  margin-left: 0rem;
  height: 35px;
}

@media (max-width: 500px) {
  #logo-nav {
    margin-left: 0rem;
    height: 30px;
  }
}
