.nav-bar-shopping-loja2 {
  display: flex;
  font-size: 0.7rem;
  list-style: none;
  background-color: #bf2c37;
  height: 8vh;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo-shopping2 {
  height: 40px;
  margin-left: 20px;
}

.nav-bar-loja-menu2 {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-loja-menu2 > a {
  margin: 0 3rem;
  text-transform: uppercase;
}

.nav-bar-loja-menu2 > a {
  margin: 0 3rem;
  text-transform: uppercase;
}

.login2 {
  margin-right: 16px;
  font-size: 0.8rem;
}

.login2 > * {
  padding: 0.3vh;
  height: 1vh;
}

.login2 :first-child {
  margin-right: 5px;
}

.login2 > a {
  border-radius: 10%;
}

/* fim navbar */

.icone {
  margin: 0px;
}

/*necessário para override bootstrap css*/
#nav-vale-sul-loja2 a {
  text-decoration: none;
  color: white;
  position: sticky;
  top: 0;
}

.loggedin2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 8px;
}
