* {
  padding: 0px;
  margin: auto 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  margin-top: auto;
}

#link-card-shopping {
  color: black;
}

.nav-bar {
  display: flex;
  font-size: 0.9rem;
  list-style: none;
  background-color: black;
  height: 7vh;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: auto 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  margin-top: auto;
}

#link-card-shopping {
  color: black;
}

/* nav section */

.nav-bar {
  display: flex;
  font-size: 0.6rem;
  list-style: none;
  background-color: black;
  height: 6vh;
  width: 100%;
  position: relative;
  justify-content: center;
  z-index: 5;
}

.nav-bar-shopping {
  display: flex;
  font-size: 0.7rem;
  list-style: none;
  background-color: #bf2c37;
  height: 8vh;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
}

#logo-shopping {
  height: 40px;
  margin-left: 20px;
}

.nav-bar-loja-menu {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-loja-menu > a {
  margin: 0 3rem;
  text-transform: uppercase;
}

.login {
  margin-right: 16px;
  font-size: 0.8rem;
}

.login > * {
  padding: 0.3vh;
  height: 1vh;
}

.login :first-child {
  margin-right: 5px;
}

.login > a {
  border-radius: 10%;
}

#logo-nav {
  margin-left: 0rem;
  height: 40px;
}
/* fim navbar */

.icone {
  margin: 0px;
}

/*necessário para override bootstrap css*/
#nav-vale-sul a {
  text-decoration: none;
  color: white;
}
