.nav-bar-shopping-loja2 {
  display: grid;
  font-size: 0.7rem;
  list-style: none;
  background-color: #bf2c37;
  height: 8vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  grid-template-columns: 2fr 4fr 2fr;
}

.secao-logo-shop2 {
  justify-content: center;
  margin-left: 4vw;
}

#logo-shopping2 {
  height: 50px;
}

.nav-bar-loja-menu2 {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-loja-menu2 > a {
  margin: 0 10vw;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.container-loggedin2 {
  justify-self: end;
}

.login2 {
  font-size: 1rem;
  margin-right: 4vw;
}

.login2 > * {
  padding: 1.5vh;
  height: 1vh;
}

.login2 :first-child {
  margin-right: 5px;
}

.login2 > a {
  border-radius: 10%;
}

/* fim navbar */

.icone {
  margin: 0px;
}

/*necessário para override bootstrap css*/
#nav-vale-sul-loja2 a {
  text-decoration: none;
  color: white;
  position: sticky;
  top: 0;
}

.loggedin2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 8vw;
}

@media (max-width: 770px) {
  .nav-bar-loja-menu2 > a {
    margin: 0 3vw;
    text-transform: uppercase;
    font-size: 12px;
  }

  .nav-bar-shopping-loja2 {
    grid-template-columns: 1fr 2fr 2fr;
  }

  .login2 {
    font-size: 0.8rem;
    margin-right: 0vw;
  }

  #logo-shopping2 {
    height: 25px;
  }
}

@media (max-width: 500px) {
  .nav-bar-loja-menu2 > a {
    margin: 0 3vw;
    text-transform: uppercase;
    font-size: 12px;
  }

  .login2 {
    font-size: 0.8rem;
    margin-right: 0vw;
  }

  .nav-bar-shopping-loja2 {
    grid-template-columns: 1fr 2fr 2fr;
  }
}
