/* pop-up-wishllist */

.pop-up-wishlist {
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4); */
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.container-grid {
  height: 100%;
  width: 100%;
  position: relative;
  left: 35px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 20fr 3fr;
  align-content: center;
  justify-content: center;
}

.container-grid > * {
  width: 100%;
  height: 100%;
}

.wish-pop-nav {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
}

.fotos-wish {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#foto-wish-active {
  background-color: black;
  width: 378px;
  height: 540px;
  margin: auto;
  position: relative;
  top: 10px;
}

.foto-wish-selecoes {
  display: flex;
  justify-content: center;
  width: 189px;
  position: relative;
  align-items: center;
  align-content: center;
}

.foto-wish-visao {
  position: relative;
  top: 10px;
  width: 49px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
}

.foto-wish-visao img {
  width: 100%;
  height: 100%;
}

/* .foto-wish-visao::after {
    content: "";
    background-image: url(./Imagens/check\ box.png);
	position: absolute;
	top: 15px;
	left: 5px;
	width: 50px;
	height: 70px;
	z-index: 1;
    background-color: rgba(0, 0, 0, 0.664);
} */

.conteudo-wish-pop {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.nome-produto {
  font-weight: 700;
  margin: 10px 10px;
  text-transform: capitalize;
}

.wish-precos-container {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 10px 0px;
}

.preco-antigo-wish {
  font-size: 12px;
  font-weight: 800;
  color: rgba(128, 128, 128, 0.39);
  text-decoration: line-through;
}

.preco-wish {
  text-align: end;
  margin: 0px 10px;
  font-weight: 700;
}

.preco-wish-parcelado {
  font-size: 10px;
}

.wish-container-linha {
  background-color: rgba(128, 128, 128, 0.363);
  width: 90%;
  height: 1px;
  width: 100%;
  position: relative;
  left: 10px;
}

/* wish detalhes produto */
.wish-detalhes-produto {
  margin: 10px 0px 0px 10px;
}

.select-produto-titulo {
  font-size: 0.78rem;
  margin: 5px 0px 5px 0px;
  font-weight: 400;
}

.select-produto {
  height: 30px;
  width: 30px;
  background-color: rgba(128, 128, 128, 0.445);
  margin: 0px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 5, 65);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.wish-detalhes-tamanho-lista {
  display: flex;
}

.wish-detalhes-descricao {
  margin-top: 20px;
}

#lista-ui {
  position: relative;
  top: 8px;
  margin-right: 5px;
  font-size: 23px;
}

.wish-detalhes-descricao p {
  font-size: 0.8rem;
  color: black;
}

.nav-botoes-wish {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
}

#cart-wish {
  font-size: 20px;
  position: relative;
  top: 0px;
  right: 10px;
}

#pop-wish-ver-wish {
  font-size: 20px;
  position: relative;
  top: 0px;
  right: 14px;
}

.nav-botoes-wish button {
  background-color: #203864;
  color: white;
  padding: 10px;
  padding-left: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.adicionar-sacola-wish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.adicionar-sacola-wish > * {
  margin: 20px 40px;
}

#texto-quantidade {
  position: relative;
  bottom: 30px;
  left: 82px;
  font-weight: 800;
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
}

#n-items {
  height: 40px;
  width: 40px;
  display: flex;
  border: solid 1px rgba(128, 128, 128, 0.548);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adicionar-sacola-wish {
  cursor: pointer;
}

#logo-wish {
  height: 70px;
  width: auto;
  top: 4px;
  left: 30px;
  border-radius: 50%;
  position: relative;
}

#wish-list-close {
  margin-right: 10px;
  cursor: pointer;
  bottom: 5px;
  left: 10px;
  position: relative;
}

#voltar-loja {
  background-color: silver;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
}

#janela-wish {
  display: flex;
  justify-content: center;
  align-content: center;
}

.ajuste-qty {
  display: flex;
}

.produto-container {
  margin: 0 10%;
}
